<a href="https://colab.research.google.com/github/AhireNikhil/Assignment-1/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Question 1
def reverse_string(str): 
    Rev = ""  
    for i in str: 
        Rev = i + Rev 
    return Rev

In [ ]:
str = "Nikhil"

In [ ]:
print("The original string is: ",str)

The original string is:  Nikhil

In [ ]:
print("The reverse string is",reverse_string(str))

The reverse string is lihkiN

In [ ]:
# Question 2
Choice1=(int)(input("\n\t Enter your 1st number: "))

	 Enter your 1st number: 21

In [ ]:
Choice2=(int)(input("\n\t Enter your 2st number: "))

	 Enter your 2st number: 35

In [ ]:
Choice3=(int)(input("\n\t Enter your 3st number: "))

	 Enter your 3st number: 56

In [ ]:
Choice4=(int)(input("\n\t Enter your 4st number: "))

	 Enter your 4st number: 44

In [ ]:
print("Maximum number is: ",max(Choice1,Choice2,Choice3,Choice4))

Maximum number is:  56

In [ ]:
print("Minimum number is:",min(Choice1,Choice2,Choice3,Choice4))

Minimum number is: 21

In [ ]:
# Question 3
Choice1=(int)(input("\n\t Enter your 1st number: "))

	 Enter your 1st number: 34

In [ ]:
Choice2=(int)(input("\n\t Enter your 2st number: "))

	 Enter your 2st number: 76

In [ ]:
Choice3=(int)(input("\n\t Enter your 3st number: "))

	 Enter your 3st number: 23

In [ ]:
Choice4=(int)(input("\n\t Enter your 4st number: "))

	 Enter your 4st number: 87

In [ ]:
Choice=[Choice1,Choice2,Choice3,Choice4]

In [ ]:
print("Addition of number is: ",sum(Choice))

Addition of number is:  220

In [ ]:
# Question 4
def P1():
    P=12
    Q="Nikhil"
    R=13+14

In [ ]:
print(P1.__code__.co_nlocals)

3

In [ ]:
# Question 5
Even=[25,46,85,35,46,26,34]

In [ ]:
for Num in Even:
    if Num %2==0:
        print(Num)

46
46
26
34